.choices {
    margin: 15px 20px;
    text-align: center;
 }

.choices:hover {
  background-color: rgba(52, 54, 155, 0.733);
}

.choices:active {
  background-color: rgba(43, 45, 182, 0.897);
}

.icon{
  max-width: 80%;
}

.text {
  width: 80%;
  text-align: center;
  margin: 1em auto;
}

strong{
  margin: 0px 20px 0px 10px;
}

.userScore {
  color: greenyellow;
}

.computerScore{
  color:red;
}