<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">

    <mat-card class="text">
        <h1> SCORE: </h1>
        <h2>User:<strong class="userScore">{{user.wins}}</strong> Computer: <strong
                class="computerScore">{{user.losses}}</strong> </h2>
    </mat-card>
</div>

<mat-divider></mat-divider>

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">

    <button [disabled]="isCalling" mat-button class="choices" (click)="game( choice )" *ngFor="let choice of choices">
        <img class="icon" src="assets/{{choice}}.png">
    </button>   

</div>

<mat-divider></mat-divider>

<mat-card class="text">
    <h2 *ngIf="selectionMessage!=''"> {{ selectionMessage }}</h2>
    <h1> RESULT: {{message}}</h1>
    <h2>Games played: {{user.total}}</h2>

</mat-card>